doctype html




html 
    head    
        title Meastro web desiging
        block script 
        block style 
        link(rel="stylesheet",media="screen and (max-width :1500px)" href="style/responsive.css")

    body 
        
        div#back

            nav#navbar 
                a(href="/Requestacall").requestcall
                    span Request a call 
                ul 
                    
                    li #[a(href="/") home] 
                    li #[a(href="/services") services] 
                    li #[a(href="/") contact] 
                    li #[a(href="/") about us]

            block callcontainer 
            
        block container 
            
        
