extends base.pug



block style  
        style 
            include ../style/style.css

block container 


    div#heading
        h1 Our plans                
    div#introsec
            
        div.card
            h2 business website 
            div 
                    
                img.img1#img(src="../static/logo.png")
            h3 Fully resposive website just under price under 8$ to 10 $


        div.card
            h2 education website
            div 
                img.img2#img(src="../static/logo2.jpeg") 
            h3 Fully resposive website just under price under 8$ to 10 $


        div.card
            h2 porfolio website
            div 
                img.img3#img(src="../static/logo3.png") 
            h3 Fully resposive website just under price under 8$ to 10 $


        div.card
            h2 education website
            div 
                img.img4#img(src="../static/logo.png") 
                h3 Fully resposive website just under price under 8$ to 10 $


        div.card
            h2 E commeircial website
            div 
                img.img5#img(src="../static/logo3.png") 
                h3 Fully resposive website just under price under 8$ to 10 $

            
        div.card
            h2 E commericial website
            div 
                img.img6#img(src="../static/logo2.jpeg") 
            h3 Fully resposive website just under price under 8$ to 10 $
            

        


    



    footer 
        div.p Copyright © 2022 MeastrodanceAcademy.com | All right reserve