extends base.pug

block script
    script(src="/static/index.js") 

block style 
    style 
        
        include ../style/styleservices.css


block container 

    section#cardsec           
        div.card
            h3  Web designing

            h1   ipsum dolor sit amet consectetur, adipisicing elit. Totam iusto nihil cumque velit, quidem dolorum! Non a soluta ex nostrum.
        div.card

            h3 Updating your website
            h1   ipsum dolor sit amet consectetur, adipisicing elit. Totam iusto nihil cumque velit, quidem dolorum! Non a soluta ex nostrum.
        div.card
            h3  Hosting
            h1  ipsum dolor sit amet consectetur, adipisicing elit. Totam iusto nihil cumque velit, quidem dolorum! Non a soluta ex nostrum.
        div.card
            h3  Any changes 
            h1   ipsum dolor sit amet consectetur, adipisicing elit. Totam iusto nihil cumque velit, quidem dolorum! Non a soluta ex nostrum.

    footer 
        div.p Copyright © 2022 MeastrodanceAcademy.com | All right reserve



